<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.board.mapper.FamilyMapper">

    <select id="getFamilyList" resultType="FamilyVO">
      SELECT name,rel_ship as relShip FROM FAMILY
    </select>

    <insert id="addFamily" parameterType="FamilyVO">
      INSERT INTO FAMILY VALUES('${name}','${relShip}')
    </insert>

</mapper>