<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.board.mapper.FamilyMapper">

    <select id="getFamilyList" resultType="FamilyVO">
      SELECT id,name,rel_ship as relShip FROM FAMILY
    </select>

    <insert id="addFamily" parameterType="FamilyVO">
      INSERT INTO FAMILY VALUES(
      (SELECT NVL(MAX(id),0)+1 FROM FAMILY),
      '${name}','${relShip}'
      )
    </insert>

    <update id="updateFamily" parameterType="FamilyVO">
        UPDATE FAMILY
          SET NAME = '${name}' ,
              REL_SHIP = '${relShip}'
          WHERE ID = ${id}
    </update>

    <delete id="deleteFamily" parameterType="FamilyVO">
        DELETE FROM FAMILY
          WHERE ID = ${id}
    </delete>
</mapper>